.actions-panel {
  background-color: white;
  margin: 50px auto;
  padding: 30px;
  text-align: center;
  width: 70%;
  max-width: 600px;
}
button.dark-red {
  background-color: #8b0000;
  margin-top: 30px;
  width: 40%;
}
