<app-navigation-bar></app-navigation-bar>
<div class="main-page">
  <div class="actions-panel">
    <h1>Welcome to Moviemate!</h1>
    <p>Discover the Magic of Cinema: Your Ultimate Movie Companion</p>
    <button
      mat-raised-button
      class="dark-red"
      (click)="openUserLoginDialog()"
      style="margin-right: 10px"
      color="primary"
    >
      Login
    </button>
    <button
      mat-raised-button
      class="dark-red"
      (click)="openUserRegistrationDialog()"
      style="margin-right: 10px"
      color="primary"
    >
      Sign Up
    </button>
  </div>
</div>
