.form-card {
  padding: 20px;
}
.form-wrapper {
  padding: 20px 8px 0 8px;
}
.mat-mdc-raised-button.dark-red {
  background-color: #8b0000;
  font-family: "Montserrat", sans-serif;
  margin-top: 30px auto;
}
