.profile-page {
  display: grid;
  grid-gap: 60px;
  grid-template-columns: 1fr 2fr;
  padding: 30px;
}
table {
  border-spacing: 10px;
  width: 100%;
}
button {
  margin-top: 16px;
  width: 180px;
}
button.dark-red {
  background-color: #8b0000;
  color: #fff;
}
button.delete {
  background-color: #fff;
  color: #8b0000;
}
.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 24px;
}
mat-card-header {
  padding: 16px 4px;
  justify-content: center;
}
mat-card-title,
mat-card-subtitle {
  text-align: center;
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}
